/**
 * @file
 * Administration styles for the Commerce FuturePay module..
 *
 * Optimized for the Seven administration theme.
 */
#commerce-futurepay-add-refund-form, fieldset.refund-payment-futurepay {
    clear: left;
    width: 33%;
}